{:highlights [{:id #uuid "6479f85e-6c4c-4001-8442-6ab8161213ad",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 434.46875,
                                     :x2 949.4351196289062,
                                     :y2 722,
                                     :width 1020.4733333333332,
                                     :height 1318.11},
                          :rects ({:x1 554.25,
                                   :y1 434.46875,
                                   :x2 949.4351196289062,
                                   :y2 453.46875,
                                   :width 1020.4733333333332,
                                   :height 1318.11}
                                  {:x1 537.640625,
                                   :y1 452.734375,
                                   :x2 918.1931762695312,
                                   :y2 471.734375,
                                   :width 1020.4733333333332,
                                   :height 1318.11}
                                  {:x1 0,
                                   :y1 702,
                                   :x2 0,
                                   :y2 722,
                                   :width 1020.4733333333332,
                                   :height 1318.11}),
                          :page 1},
               :content {:text "Martin et al. (11) first determined folding free energy changes for RNA with optical melting experiments."},
               :properties {:color "blue"}}],
 :extra {:page 1}}
