{:highlights [{:id #uuid "6476d7e9-ea4f-4062-ac3f-efddfd571874",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 254,
                                     :x2 887.140625,
                                     :y2 378.53125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 274,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 457.3615417480469,
                                   :y1 341.296875,
                                   :x2 885.5985107421875,
                                   :y2 360.296875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 867.484375,
                                   :y1 359.171875,
                                   :x2 879.203125,
                                   :y2 371.171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 338.734375,
                                   :y1 359.53125,
                                   :x2 867.5116577148438,
                                   :y2 378.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 882.515625,
                                   :y1 359.53125,
                                   :x2 887.140625,
                                   :y2 378.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "In RNA the two levels of folding (secondary and tertiary) can be experimentally separated by the presence or absence of Mg2á."},
               :properties {:color "yellow"}}
              {:id #uuid "6476d86a-b367-487d-9c6e-a807cc8404f2",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 286,
                                     :x2 886.696044921875,
                                     :y2 451.5625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 306,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 322,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 338,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 338.71875,
                                   :y1 377.765625,
                                   :x2 886.696044921875,
                                   :y2 396.765625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 338.71875,
                                   :y1 396.09375,
                                   :x2 886.6264038085938,
                                   :y2 415.09375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 338.71875,
                                   :y1 414.328125,
                                   :x2 886.322265625,
                                   :y2 433.328125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 338.71875,
                                   :y1 432.5625,
                                   :x2 544.5169067382812,
                                   :y2 451.5625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Secondary structure can be predicted successfully from experimental thermodynamic data on secondary structure elements: helices, loops, and bulges. Tertiary interactions can then be added without much distortion of the secondary structure."},
               :properties {:color "yellow"}}
              {:id #uuid "6476d941-dbe3-4eb4-8a66-29027808257c",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 334,
                                     :x2 886.23779296875,
                                     :y2 469.90625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 354,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 549.0160522460938,
                                   :y1 432.5625,
                                   :x2 886.23779296875,
                                   :y2 451.5625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 338.71875,
                                   :y1 450.90625,
                                   :x2 782.4948120117188,
                                   :y2 469.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "These observations suggest a folding algorithm to predict the structure of an RNA from its sequence"},
               :properties {:color "green"}}
              {:id #uuid "6476e05d-bb8f-41dc-b78e-68e70f6cff9a",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 366,
                                     :x2 886.6420288085938,
                                     :y2 524.703125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 386,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 382,
                                   :x2 0,
                                   :y2 402,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 697.40625,
                                   :y1 469.140625,
                                   :x2 857.9868774414062,
                                   :y2 488.140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 868.0625,
                                   :y1 469.140625,
                                   :x2 886.5484008789062,
                                   :y2 488.140625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 338.71875,
                                   :y1 487.375,
                                   :x2 886.6420288085938,
                                   :y2 506.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 338.71875,
                                   :y1 505.703125,
                                   :x2 515.9777221679688,
                                   :y2 524.703125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "thermodynamic data on tertiary structure interactions, and identiÆcation and characterization of metal-ion binding sites."},
               :properties {:color "red"}}
              {:id #uuid "6476ebec-67cb-4d55-b877-c53f3769c9b3",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 126,
                                     :x2 612.0748901367188,
                                     :y2 399.75,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 162,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 178,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 194,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 521.4454345703125,
                                   :y1 282.25,
                                   :x2 611.673828125,
                                   :y2 306.25,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 127.46875,
                                   :y1 305.59375,
                                   :x2 612.0255126953125,
                                   :y2 329.59375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 127.46875,
                                   :y1 329.0625,
                                   :x2 612.0748901367188,
                                   :y2 353.0625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 127.46875,
                                   :y1 352.40625,
                                   :x2 612.0425415039062,
                                   :y2 376.40625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 127.46875,
                                   :y1 375.75,
                                   :x2 410.6876525878906,
                                   :y2 399.75,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "This may mean that we need to know one part of the structure at atomic resolution, another part in terms of Watson-Crick base-pairs formed, and the rest of the molecule only approximately."},
               :properties {:color "green"}}
              {:id #uuid "6476efbc-67b2-4cb6-a900-bc00d6ffceb4",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 238,
                                     :x2 611.9713134765625,
                                     :y2 516.703125,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 258,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 274,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 381.4931945800781,
                                   :y1 445.90625,
                                   :x2 611.9713134765625,
                                   :y2 469.90625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 127.46875,
                                   :y1 469.234375,
                                   :x2 610.9616088867188,
                                   :y2 493.234375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 127.46875,
                                   :y1 492.703125,
                                   :x2 593.7052001953125,
                                   :y2 516.703125,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "If base paired regions in an RNA molecule are conserved over many species, it is assumed that they are important in function."},
               :properties {:color "green"}}
              {:id #uuid "6476f2c6-aac4-427a-8a97-e34cf4c04e94",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 270,
                                     :x2 478.1317138671875,
                                     :y2 513.09375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 290,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 306,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 322,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 338,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 354,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 370,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 463.8092041015625,
                                   :y1 384.484375,
                                   :x2 478.1317138671875,
                                   :y2 403.484375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 99.578125,
                                   :y1 402.71875,
                                   :x2 478.0926818847656,
                                   :y2 421.71875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 99.578125,
                                   :y1 420.96875,
                                   :x2 478.10003662109375,
                                   :y2 439.96875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 99.578125,
                                   :y1 439.296875,
                                   :x2 478.08563232421875,
                                   :y2 458.296875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 99.578125,
                                   :y1 457.53125,
                                   :x2 478.065185546875,
                                   :y2 476.53125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 99.578125,
                                   :y1 475.765625,
                                   :x2 478.0352478027344,
                                   :y2 494.765625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 99.578125,
                                   :y1 494.09375,
                                   :x2 247.77996826171875,
                                   :y2 513.09375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text " If only a single sequence is available for the RNA, secondary structure calculations can predict the basepaired regions. In viral RNAs the most stable calculated helices correlate with regions that are known to have important biological roles, such as internal ribosome entry sites "},
               :properties {:color "green"}}],
 :extra {:page 2}}
